{% extends "base.html" %}

{% block page_title %}Home - OnlineShopper{% endblock page_title %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Welcome to OnlineShopper</h1>

    {% if user.is_authenticated %}
        <p class="lead">Hello, {{ user.username }}!</p>
        <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Logout</a>
        {% if user.is_superuser %}
        <p>Superuser profile</p>
            <a href="{% url 'accounts:create_user' %}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUserModal">Add a user</a>
            <a href="{% url 'accounts:user-list-page' %}" class="btn btn-primary">Users API</a>
        {% elif user.role == 'shop' %}
        <p>Shop profile</p>
        <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUserModal">Add a product</a>
        <a href="#" class="btn btn-warning">View Products</a>
        <a href="#" class="btn btn-primary">View Orders</a>
        {% elif user.role == 'driver' %}
        <p>Driver profile</p>
        <a href="#" class="btn btn-primary">View Orders</a>
        {% elif user.role == 'customer' %}
        <p>Customer profile</p>
        <a href="#" class="btn btn-warning">View Products</a>
        <a href="#" class="btn btn-success">Create Order</a>
        <a href="#" class="btn btn-primary">View Orders</a>
        {% endif %}
    {% else %}
        <p class="lead">Sign up or log in to access more features.</p>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
    {% endif %}

    {% if user.is_superuser %}
    <hr>
        <h2>Users List</h2>
        <div id="user-list" hx-get="{% url 'accounts:htmx_user_list' %}" hx-trigger="load" hx-target="#user-list">
            <p>Loading users...</p>
        </div>
    {% endif %}
</div>

{% include "accounts/partials/modals.html" %}

{% endblock content %}



        
